/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* Global /////////////////////////////////////////// */

body
{ 
	font-family: 'Playfair Display', Georgia, serif;
	font-size:1.2em;
	background-color: #EEE;
  background-image: url("http://i.imgur.com/2n9WdrE.png");
  text-rendering:optimizeLegibility;
  letter-spacing:-0.020em;
}

footer { margin-top: 100px; }
table, td, th { vertical-align: middle; border: none; }
th { border-bottom: 1px solid #DDD; }

h1
{
  font-family: 'Playfair Display', Georgia, serif;
  font-size:4em;
  color:white;
  
}

p{font-size:1.1em;}

.colorWhite {color:white;}

.btn
{
    font-family:'Open Sans', Arial, 'Sans Serif';
    font-size:1.1em;
}

.redBtn 
{
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #FFF!important;
  font-weight:bold;
  background: #c74f0e;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  border:none;

}

.redBtn:hover 
{
  text-decoration: none;
  background-color:#b3470d;
}

.whiteBtn 
{
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #555!important;
  background: #FFF;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  border: solid #aaa 1px;

}

.whiteBtn:hover 
{
  background: #FFF;
  border: solid #aaa 1px;
  text-decoration: none;
}

.textField
{
    width:100%;
    font-family:'Open Sans', Arial, 'Sans Serif';
    font-size:1.1em;
    padding:5px;
}

.bottomPadding5px { padding-bottom:5px; }
.bottomPadding20px { padding-bottom:20px; }


/* Events Listing /////////////////////////////////////////// */


.indexAddPosts{float:right; text-align:right;}

.indexRowPost
{
	border:solid 1px #CCC;
	margin-bottom:15px;
	padding:30px 20px 20px 20px; 
	background-color:white;
}


.indexPostTitle
{	
	font-size:2.5em;
	line-height:1.2em;
	margin-bottom: 10px;
  color:black;
}

.indexPostDate 
{
  font-size:1em;
  margin-bottom:15px;
  color:#555;
}

.indexPostDescript
{
  white-space:pre-line;
  text-align:justify;
	font-size:1.3em;
  margin-top:20px;
	margin-bottom:30px;
	line-height:1.3em;
	color:#555;

}

.indexPostLinks
{
	padding-bottom: 20px;

}

.indexPostLinksBtn {
  background: #3498db;
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: Arial;
  color: #000000;
  font-size: 1em;
  background: #ffffff;
  padding: 5px 10px 5px 10px;
  border: solid #aaa 1px;
  text-decoration: none;

}

.indexPostLinksBtn:hover {
  background: #000;
  color: #fff;
  border: solid #000 1px;
  text-decoration: none;
}


.indexAddPosts
{
    display: inline-block;
    vertical-align: bottom;
    padding:30px 0px 0px 0px;
}

.indexPostDateHidden
{
    visibility: hidden; 
}

.indexPostTimeLeft
{
    margin-bottom: 15px;
    color:#666;
}

/* New Event /////////////////////////////////////////// */

.newPostContainer
{
    background-color:white;
    border:solid 1px #CCC;
    padding: 20px;

}

.newPostDescriptionField
{
    height: 30em;
}

/* View Event /////////////////////////////////////////// */

.viewPostContentContainer
{
    font-size:1.2em;
    text-align:left;
    margin-bottom:10px;
    line-height:1.3em;

}

.viewPostButtonsContainer
{
    font-size:1.2em;
    padding-top:30px;
    padding-bottom:20px;
}

.viewPostButtonHolder
{
   padding-bottom:20px;

}